/*блочная верстка*/
*{
margin: 0;
padding: 0;
}
body, html{
    height: 100vh;
    width: 100%;
}
div{
    float: left;
    margin: 1vh 1%;
}
.header{
    width: 48%;
    background-color: orange;
    height: 10vh;
}

.upperBlock{
width: 98%;
background-color: greenyellow;
height: 45vh;
}

.downBlock{
height: 20vh;
background-color: blue;
width: 31.33%;
}
.footerBlock{
    background-color: grey;
    height: 12vh;
    width: 23%;
}