body{
    padding: 0;
    margin: 0;
    height: 100vh;
}
table {
    border-spacing: 10px 20px;
    width: 100%;
}
.t0{
    height: 57vh;
}

.t1{
    border-spacing: 10px 0px;
    height: 25vh;
}
.t2{
    height: 15vh;
}

.blockHead{
background: orange;
width: 50%;
height: 20%;
}

.blockUpperBlock {
    background: greenyellow;
    width: 50%;
  
}

.blockDownBlock{
    background-color: blue;
    width: 33.33%;
}


.footerBlock{
    width: 25%;
    background-color: gray;
}
