/*блочная верстка*/
html, body{
    margin: 0;
    padding: 0;
}
div{
    float: left;
}
.header{
    width: 49%;
    background-color: orange;
    height: 10vh;
    margin: 0.5vh 0.5%;
}
.upperBlock{
width: 99%;
background-color: greenyellow;
height: 40vh;
margin: 0.5vh 0.5%;
}
.downBlock{
height: 25vh;
background-color: blue;
width: 32.33%;
margin: 1vh 0.5%;
}
.footerBlock{
    background-color: grey;
    height:20vh;
    width:24%;
    margin: 0.5vh 0.5%;
}