/*табличная верстка*/
body, html{
    padding: 0;
    margin: 0;
    height: 99vh;
}
table {
    width: 100%;
    height: 97vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-spacing: 3px;
}
.headBlock{
height: 10vh;;    
background: orange;
}
.upperBlock {
    height: 35vh;
    background: greenyellow;
}
.downBlock{
    height: 20vh;
    background-color: blue;
}

.footerBlock{
    height: 20vh;
    background-color: gray;
}
.empty{
    height: 0;
}
