@media screen and (max-width: 768px) {
  html, body {
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
    font-size: 12px;
  }

  .container1, .container2 {
    display: flex;
  }

  .container1 {
    height: 7vh;
    background-color: #504b4b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .div0 {
    margin-left: 3%;
    margin-top: 1vh;
    border-bottom: 3px solid black;
    height: 4vh;
  }

  .text0 {
    font-size: 3vw;
  }

  .container2 {
    flex-flow: row wrap;
    flex-direction: column;
    width: 90%;
    height: 40vh;
    background-color: gray;
    border-radius: 10px;
    margin: 1.5vh auto 0 auto;
  }

  .div1 {
    height: 10vh;
    margin-top: 4vh;
    width: 90%;
  }

  .text1 {
    height: 6.3vh;
    border-bottom: 2px solid black;
    font-size: 4vw;
    font-weight: bold;
    width: 48%;
    margin-left: 10%;
  }

  .text2 {
    font-size: 2.5vw;
    width: 48%;
    margin-left: 10%;
  }

  .div2 {
    width: 30%;
    background-color: rgba(40, 40, 247, 0.5);
    height: 5vh;
    border-radius: 10%;
    margin-left: 9%;
    margin-top: 7vh;
    display: table;
  }

  .text3 {
    font-size: 3vw;
    color: #f0e0e0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }

  .container3 {
    margin-top: 45vh;
    height: 6vh;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: table;
    width: 100%;
  }

  .text4 {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 1.5rem;
    padding-left: 3%;
  }
}
@media screen and (min-width: 769px) {
  html, body {
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
    font-size: 12px;
  }

  .container1, .container2 {
    display: flex;
  }

  .container1 {
    height: 10vh;
    background-color: #504b4b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .div0 {
    margin-left: 3%;
    margin-top: 0.5vh;
    border-bottom: 3px solid black;
    height: 6vh;
  }

  .text0 {
    font-size: 5vh;
  }

  .container2 {
    flex-flow: row wrap;
    flex-direction: column;
    height: 70vh;
    background-color: gray;
    border-radius: 10px;
    margin-top: 1.5vh;
  }

  .div1 {
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 12vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .text1, .text2 {
    margin-left: auto;
    margin-right: auto;
    width: 48%;
  }

  .text1 {
    border-bottom: 4px solid black;
    font-size: 5.5vw;
    padding-bottom: 0.5vh;
  }

  .text2 {
    font-size: 3vw;
  }

  .div2 {
    margin-left: 26%;
    background-color: rgba(40, 40, 247, 0.5);
    height: 12vh;
    border-radius: 10%;
    display: table;
    width: 20%;
  }

  .text3 {
    display: table-cell;
    vertical-align: middle;
    font-size: 2.5vw;
    color: white;
    text-align: center;
  }

  .container3 {
    display: table;
    width: 100%;
    margin-top: 5vh;
    height: 13vh;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .text4 {
    display: table-cell;
    vertical-align: middle;
    margin: 2vh 0 0 4%;
    color: white;
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
