    html, body{
        margin: 0;
        padding: 0;
    }
    .upperBlock, #left, #right, .midBlock, .footer{
        float: left;
        margin: 0 0.5% 1vh 0.5%;   
    }
    .upperBlock{
        height: 13vh;
    }
    #left{
        background-color: red;
        width: 35%;
    }
    #right{
        background-color: orange;
        width: 63%;
    }
    .midBlock{
        background-color: green;
        height: 55vh;
        width: 99%;
    }
    .footer{
        width: 32.33%;
        height: 29vh;
    }
    #footer1{
        background-color: rgb(167, 102, 4);
    }
    #footer2{
        background-color: blue;
    }
    #footer3{
        background-color: darkmagenta;
    }
/*IPad*/
@media only screen and (min-width: 376px) and (max-width: 1024px) {
    #footer1{
       display: none;
    }
    #right{
        width: 40%;
        height: 10vh;
    }
    #footer3, #left, .midBlock, #footer2{
        position: absolute;
    }
    #footer3{
        height: 10vh;
        width: 58%;
        left: 41%;
    }
    #left{
        height: 50vh;
        top: 11vh;
        width: 99%;
    }
    .midBlock, #footer2{
        top: 62vh;
        width: 49%;
        height: 37vh;
    }
    #footer2{
        left: 50%;
    }
}
    /* iPhone 6 */
    @media only screen and  (max-width: 375px) {
        #right, #footer1, #footer2{
            display: none;
        }
        #left, .midBlock, #footer3{
            position: absolute;
            width: 99%;
        }
        #left{
            height: 68vh;
            top: 42vh;
        }
        .midBlock{
            height: 18vh;
        }
        #footer3{
            height: 15vh;
            top: 23vh;
        }
    }

    
