
/* https://learn.javascript.ru/height-percent*/
body{
    margin: 0;
/*величина относительно окна браузера*/
    height: 100vh;
}


.header{
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(56, 56, 56, 0.5);
}
.header:hover{
    background-color: rgba(117, 118, 119, 0.5);
}
.left {
    position: relative;
    width: 5%;
    height: 80%;
    float: left;
    vertical-align: middle;
}

.right{
    width: 5%;
    height: 80%;
    position: relative;
    float: right;
    vertical-align: middle;
}

.text{
    width: 100%;
}

.textContainer{
    overflow: auto;
    position: fixed;
    top:15%;
    width: 100%;
    

}

.mainText{
    width: 32%;
    padding:5px;
    background-color: rgba(243, 147, 3, 0.5);
    margin-bottom: 50px;
}

#leftText{
float: left;
margin-left: 15%;
border-left: 2px solid goldenrod;
}

#rightText{    
float: right;
margin-right: 15%;
border-right: 2px solid goldenrod;
}

.footer{
    clear: left;
    width: 100%;
    height: 15vh;
    background-color: rgba(243, 147, 3, 0.5);

}

.footer:hover{
    background-color: rgba(243, 147, 3, 1);
}
