
/* https://learn.javascript.ru/height-percent*/
body{
    margin: 0;
/*величина относительно окна браузера*/
    height: 100vh;
}
.header, .text, .textContainer, .footer {
    width: 100%;
}
.header{
    position:fixed;
    left: 0;
    top: 0;
    height: 10%;
    background-color: rgba(56, 56, 56, 0.5);
}
.header:hover{
    background-color: rgba(117, 118, 119, 0.5);
}
.left, .right {
    position: relative;
    width: 5%;
    height: 80%;
    vertical-align: middle;
}
.left{
    float: left;
}
.right{
    float: right;
}
.textContainer{
    overflow: auto;
    position: fixed;
    top:15%;
}
.mainText{
    width: 32%;
    padding:5px;
    background-color: rgba(243, 147, 3, 0.5);
    margin-bottom: 50px;
}

#leftText, #rightText{
    border-left: 2px solid goldenrod;
}

#leftText{
    margin-left: 15%;
    float: left;
}

#rightText{    
    float: right;
    margin-right: 15%;
}
.footer{
    clear: left;
    height: 15vh;
    background-color: rgba(243, 147, 3, 0.5);

}
.footer:hover{
    background-color: rgba(243, 147, 3, 1);
}
