body, html{
    padding: 0;
    margin: 0;
    height: 100%;
    background-image:url("image/5.jpg");  
}
.parent{
    position: relative;
}
.menu{
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    min-width: 110px;
    background-color: rgba(51, 9, 240, 0.5);
}
.header{
    width: 90%;
    height: 15%;
    background-color: rgba(216, 219, 7, 0.5);
    /*почему это свойство не может быть absolute?*/
    position: fixed;
    top:0;
    left:10%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.centralBlock{
    width: 90%;
    height: 70%;
    position: fixed;
    top:15%;
    left: 10%;
}
.href{
    position: absolute;
    top:150px;
    width: 96%;
    border:2px solid floralwhite;
    border-radius:16px;
}
.hr{
    font-size: 14px;
}
.link:visited, .text{
    color:white;
}
.link:hover{
    color: black;
}
p{
    color: grey;
}
.text{
    list-style-type: none;
}
li:before{
content: "Ω";
margin-right: 5px;
}
/*такое выравнивание строки подходит 
только для однострочного текста 
1) убираем тег p
2) устанавливаем высоту div (можно и в %)
3) задаем свойство line-height в фикс. единицах (проценты не подойдут)
*/
.footer{
    position: fixed;
    width: 90%;
    height: 15%;
    line-height: 15vh;
    text-align:center;
    left: 10%;
    top:85%;    
    background-color: rgba(216, 219, 7, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
