body{
    height: 100%;
    background-image:url("image/5.jpg");  
}

.parent{
    position: relative;
}
.menu{
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    background-color: rgba(51, 9, 240, 0.5);
}

.header{
    width: 90%;
    height: 15%;
    background-color: rgba(216, 219, 7, 0.5);
    /*почему это свойство не может быть absolute?*/
    position: fixed;
    top:0;
    left: 10%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.centralBlock{
    width: 90%;
    height: 70%;
    position: fixed;
    top:15%;
    left: 10%;
}

.href{
    position: absolute;
    top:150px;
    width: 96%;
    border:2px solid floralwhite;
    border-radius:16px;
}
.hr{
    font-size: 14px;
}


.link:visited{
    color:white;
}

.link:hover{
    color: black;
}

p{
    color: grey;
}
.text{
    list-style-type: none;
    color: white;
}

li:before{
content: "Ω";
margin-right: 5px;
}
.footer{
    position: fixed;
    width: 90%;
    height: 15%;
    left: 10%;
    top:85%;    
    background-color: rgba(216, 219, 7, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.footerText{
    text-align: center;
    color: #000;
    font-weight: 600;
    margin-top: 40px;
    font-size: 15px;
}