
  img {
    width: 400px;
    height: 400px; 
    margin-left: 200px;
    margin-top: 200px;
  }


img:hover{
animation-name: widening;
animation-delay: 1s;
animation-duration: 3s;
-webkit-transform: scale(1.5);
-ms-transform: scale(1.5);
transform: scale(1.5);
}