.container1 {
    display: none;
}
@keyframes sidebar{
0%{
left: -50%;
top:12vh;
}
100%{
left: 35%;
}
}
.b2 {
    width: 100px;
    background-color: blue;
    font-weight: bold;
    color: beige;
}
#b1{
    background-color: green;
    position: relative;
    top: 2vh;
    left: 5%;
    border-radius: 10px;
    border: 2px solid blue;
    box-shadow: rgba(0,0,0,0.4) 4px 4px;
}

